body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(128, 0, 92); */
    display: flex;
    flex-direction: row;

    background: hsla(192, 96%, 50%, 1);
    background: linear-gradient(90deg, hsla(192, 96%, 50%, 1) 0%, hsla(268, 92%, 53%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(192, 96%, 50%, 1) 0%, hsla(268, 92%, 53%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(192, 96%, 50%, 1) 0%, hsla(268, 92%, 53%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#05C9F9", endColorstr="#811BF5", GradientType=1 );
    
}

.board {
    height: 100%;
    width: 50%;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
}

.display {
    height: 100%;
    width: 50%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}

.title {
    height: 10%;
    width: 100%;
    border: 3px solid white;

    text-align: center;
    font-size: 50px;
    color: white;
}

.content {
    height: 90%;
    width: 100%;
    border: 3px solid white;
}

.ttt {
    height: 75%;
    width: 75%;
    border: 3px solid white;
    margin: 75px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.row {
    height: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
}

.row button {
    width: 100%;
    cursor: pointer;
    font-size: 80px;
}

.row button:hover {
    background-color: aquamarine;
}

.history {
    height: 75%;
    width: 75%;
    border: 3px solid white;
    margin: 75px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.history button {
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
}